#ver_wrap {
    background-color: cadetblue;
    color: aliceblue;
    padding: 5px 10px;
    width: 480px;
    border-radius: 3px;
}

#file_drop_area {
    background-color: beige;
    width: 500px;
    height: 200px;
    border: 3px dashed #aaa;
    text-align: center;
    font-size: 22px;
    line-height: 200px;
}
