#social_button_wrap {
    width: 70px;
    height: 280px;
    position: absolute;
    right: 10px;
    text-align: center;
    background-color: rgba(252,252,252,0.5);
    padding: 10px 5px 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0,0,0,0.05);
    display: none;
}

    #social_button_wrap div {
        margin-bottom: 10px;
    }

        #social_button_wrap div:nth-child(1) {
            height: 60px;
        }

        #social_button_wrap div:nth-child(2) {
            height: 60px;
        }

        #social_button_wrap div:nth-child(3) {
            height: 60px;
        }

        #social_button_wrap div:nth-child(4) {
            height: 50px;
        }
